body {
    color: white;
    background: rgb(252,207,144) !important;
    background: linear-gradient(86deg, rgba(252,207,144,1) 0%, rgba(255,255,255,1) 52%, rgba(252,207,144,1) 100%) !important;
}


.Pid {
color: white;


}

h2{
    color: black !important;
  
    
}
p {
color: black;
}