



    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center">Welcome to the POne Client Page!</h2>
            Who are looking for ?
            <div class="row">
                <div class="col-md-6">
                    <a href="/DrBob">
                        <img src="~/Content/images/DrBob.jpg" alt="Dr Bob"  width="240"/>
                        <br /><p class="text-center">DrBobs Portal</p>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="/Dentist">
                        <img src="~/Content/images/Dentist.jpg" alt="Alternate Text" />
                        <br /><p class="text-center">Dentist Portal</p>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>

